*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
    display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
    position: relative;
  z-index: 1;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  border: 2px solid black;
  box-sizing: border-box;
  background-color: aquamarine;
}

.grid-row {
  display: flex;
  width: 100%;
  height: 25%;
}

.grid-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 100%;
  border: 1px solid black;
  font-size: 2rem;
  transition: all 0.2s ease-in-out;
}

h1{
  color: white;
  text-align: center;
}

/*BACKGROUND*/
.tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/*ANIMATION*/